body {
background: #CCCCCC;
}

#banner{
  width: 10%;
  height: 50%;
  margin-left: 405;
  border: dotted #145ba7;
}

h1{
text-align: center
}

p {
text-align: center;
}

#missao{
font-size: 20px
}
em strong{
color: rgb(0,0,255);
}

.itens{
    font-style: italic
}

.beneficios{
    background: #FFFFFF;
 
}
