body {

}

#banner{
  width: 10%;
  height: 50%;
  margin-left: 40%;
  border: dotted #145ba7;
}

.principal{
background: #CCCCCC;
}


h1{
text-align: center
}

p {
text-align: center;
}

#missao{
font-size: 20px
}
em strong{
color: rgb(0,0,255);
}

.itens{
    font-style: italic
}

.beneficios{
    background: #FFFFFF;
 }

h2{
    text-align: center; 
}

ul {
    display: inline-block;
    vertical-align: top; 
}
.imagembeneficios{
   width: 50%;
}
